body {
    background: white;
    color: black;
    text-align: center;
}
.container {
    height: 800px;
    width: 700px;
    border-radius: 25% 25% 25% 25%;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    border: dashed 2px black;
    position: absolute;
    margin-left: 600px;
    align-self: auto;
    align-content: center;
}
.board {
    height: 775px;
    width: 675px;
    border-radius: 25% 25% 25% 25%;
    background-color: green;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    opacity: 70%;
    margin-left: 13px;
    align-self: auto;
    align-content: center;
}
.button_container {
    height: 300px;
    width: 600px;
    border-radius: 25% 25% 25% 25%;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    border: dashed 2px black;
    margin-top: -360px;
    margin-left: 35px;
}
.button {
    border-radius: 50%;
    height: 125px;
    width: 125px;
    background-color: red;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 0px 10px 0px 0px grey;
    align-content: center;
}
.btn1 {
    position: absolute;
    margin-top: 10px;
    margin-left: -260px;
}
.btn2 {
    background-color: orange;
    position: absolute;
    margin-top: 10px;
    margin-left: -65px;
}
.btn3 {
    background-color: yellow;
    position: absolute;
    margin-top: 10px;
    margin-left: 130px;
}
.btn4 {
    background-color: blue;
    position: absolute;
    margin-top: 155px;
    margin-left: -165px;
}
.btn5 {
    background-color: purple;
    position: absolute;
    margin-top: 155px;
    margin-left: 35px;
}
h2 {
    position: absolute;
    color: snow;
    margin-top: 370px;
    margin-left: 100px;
}
